.gallery-holder {
	border: none;
	padding: $column-gutter/2 0;
	
	ul {
		white-space: nowrap;
		overflow-y: hidden;
		overflow-x: scroll;
		-webkit-overflow-scrolling: touch;
		margin-left: 0;
		margin-bottom: 0;
		list-style: none;
		height: 160px;
		
		li {
			display: inline;
			margin-right: $column-gutter/2;
		}
		
		li:first-of-type {
			margin-left	: $column-gutter/2;
		}
	}
	
	img {
		line-height: 0;
	}
}