header.site-header {
	background-color: lighten($topbar-bg-color, 75);
	text-align: center;
	
	span.site-contact, span.branding {
		padding-top: 1em;
		padding-bottom: 1em;
	}
	
	span.site-contact-holder, span.branding {
		display: block;
	}
	
	span.site-contact, span.phone-icon {
		display: inline-block;
	}
	
	span.site-contact-holder {
		background-color: $primary-color;
		color: #fff;
		font-weight: $bold-font-weight;
		padding-right: 0.5em;
		
		a {
			color: #fff; 
		}
	}
	
}

@media #{$medium-up} {
	header.site-header {
		text-align: left;
	}
}

.name h1 {
	text-align: left;
}

span.phone-icon {
	background-color: darken($primary-color, 10);
	display: inline-block;
	padding: 0.75em 0.75em;
	img {
		display: inline;
		width: 1.75em;
	}
}